<div class="row titlerow">
  <div class="span12">
    <ul class="pull-right unstyled subnav" id="datatype">
      <li id="percentage"><a href="#metrics/percentage">Percentage</a></li>
      <li id="absolute"><a href="#metrics/absolute">Absolute</a></li>
    </ul>
    <h2>Conversion rates</h2>
  </div>
</div>

<div class="row">
  <div class="span12 text-center">
    <div class="numberholder" id="donutholder">
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 text-center">
    <div id="chart" style="width: 100%;"></div>
  </div>
</div>